@charset "UTF-8";
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

:root {
  --primary-text-color: #212121;
  --title-title-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  /* Background color */
  --background-header-color: #ffffff;
  --background-footer-color: #2f303a;
  --background-section-color: #f5f4fa;
  --background-icon-color: #f5f4fa;
  --text-icon-color: #afb1b8;
  --join-item-color: rgba(255, 255, 255, 0.1);
  --clients-icon-color: #afb1b8;
  --accent-shodow-color: #188ce8;
  --linear-gradient: rgba(47, 48, 58, 0.4);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* -------------------Main-nav------------------ */
.navigation {
  display: flex;
  align-items: center;
}
.navigation__logo--accent {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__logo--accent:hover,
.navigation__logo--accent:focus {
  color: var(--accent-color);
}
.navigation__logo--dark {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__logo--dark:hover,
.navigation__logo--dark:focus {
  color: var(--accent-color);
}

/* ------------------Site-nav ----------------*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--active {
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--active:hover,
.site-nav__link--active:focus {
  color: var(--accent-color);
}

/* --------------Подчеркивание  Site-nav--------------*/
.site-nav__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--active {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--active::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:hover:after,
.site-nav__link:focus,
.site-nav__link:focus:after,
.site-nav__link--active,
.site-nav__link--active:after {
  color: var(--accent-color);
  opacity: 1;
}

/*---------------- Auth-Nav--------------- */
.auth-nav {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.auth-nav__link--active {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--title-title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__icon {
  fill: var(--title-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: var(--accent-color);
}

/* -----------------------BURGER-MENU-------------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header .nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-burger {
  display: none;
}

.menu-button.is-open .icon-burger {
  display: block;
}

.menu-button.is-open .icon-close {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;

  background-color: green;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.menu-container.is-open {
  display: block;
}

/* ----------------------HERO----------------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heroposter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}
.hero__button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  border-style: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover,
.modal__close:focus {
  border-color: #188ce8;
  color: #188ce8;
}
.modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  padding: 40px 39px 40px 41px;
}
.modal-form__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.no-scroll {
  overflow: hidden;
}

.form__list {
  display: block;
  text-align: left;
  margin-bottom: 30px;
  list-style: none;
}
.form__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 10px;
}
.form__item--markup {
  display: flex;
  justify-content: center;
}
.form__item--mark {
  margin-bottom: 20px;
}
.form__label {
  display: flex;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__input-text {
  display: flex;
  margin-top: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: #2196f3;
}
.form__checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox-text::before {
  position: relative;
  bottom: -2px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}
.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-style: hidden;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:hover,
.form__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox:checked + .form__checkbox-text::before {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cardbox {
  display: flex;
  position: relative;
}
.cardbox__input {
  display: flex;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: #2196f3;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cardbox__input:focus + .cardbox__icon {
  fill: #2196f3;
}
.cardbox__icon {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  align-items: center;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list {
  margin: 0px 0px 50px 0px;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.portfolio__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  min-width: 73px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio__button--current {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  min-width: 73px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button--current:hover,
.portfolio__button--current:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio__button:hover,
.portfolio__button:focus,
.portfolio__button--current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__list--card {
  list-style: none;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  border: 1px solid #eeeeee;
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__card {
  position: relative;
  overflow: hidden;
}

.textblock {
  padding: 20px 24px;
}
.textblock__name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.textblock__category {
  color: var(--title-title-color);
  font-size: 16px;
  line-height: 1.87;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--background-header-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover .overlay,
.portfolio__card:focus .overlay {
  transform: translateY(-100%);
}

.features {
  padding-bottom: 47px;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.features__item {
  width: 270px;
}
.features__wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-icon-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__icon {
  border-radius: 4px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}
.features__text {
  color: var(--title-title-color);
  font-size: 14px;
  line-height: 1.71;
}

.activity {
  padding-top: 47px;
}
.activity__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.activity__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.activity__item {
  position: relative;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}
.activity__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-header-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-section-color);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.team__pic {
  background-color: var(--background-header-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__pic:not(:last-child) {
  margin-right: 30px;
}

.teamcard {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teamcard__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.teamcard__text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--title-title-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link {
  display: block;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}
.social__icon {
  fill: var(--text-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--background-header-color);
}

.social__join {
  list-style: none;
  display: flex;
  gap: 10px;
}
.social__join--item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__join--link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--join-item-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__join--link:hover,
.social__join--link:focus {
  background-color: var(--accent-color);
}
.social__join--icon,
.social__join--icon {
  fill: var(--background-header-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.clients__group {
  display: flex;
  justify-content: center;
}
.clients__list {
  display: flex;
  list-style: none;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  outline: none;
  border-color: var(--accent-color);
}
.clients__icon {
  fill: var(--clients-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer-page {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrapper {
  display: flex;
  gap: 70px;
}

.connect__logo-accent {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
}
.connect__logo-primary {
  display: inline-block;
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__logo-primary:hover,
.connect__logo-primary:focus {
  color: var(--accent-color);
}
.connect__link-map {
  display: inline-block;
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
}
.connect__link-mail {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link-mail:hover,
.connect__link-mail:focus {
  color: var(--accent-color);
}
.connect__link-tel {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link-tel:hover,
.connect__link-tel:focus {
  color: var(--accent-color);
}

.join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-header-color);
}

.subscribe {
  width: 570px;
  margin-left: 93px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-header-color);
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.subscribe__input {
  padding: 16px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:focus {
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}
.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: hidden;
  color: var(--background-header-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover,
.subscribe__button:focus {
  background-color: var(--accent-shodow-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe__icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  fill: var(--background-header-color);
} /*# sourceMappingURL=main.css.map */
